/* CSS Code for this PhoneGap App to Go Here */

 body,.ui-page
 {
 	background: #FFFFFF;
 }
 .ui-page {
   -webkit-animation-fill-mode: both;
 }

div.ui-select {
	font-size: 16px;

 }

 ::selection {
 	background: #F357A1 !important;
 }
  ::-moz-selection {
 	background: #F357A1 !important;
 }
  ::-webkit-selection {
 	background: #F357A1 !important;
 }

.data {
 	font-size: 42px;
 }

.element {
  position: relative;
  top: 25%;
  transform: translateY(-278%);
}
