/* CSS Code for this PhoneGap App to Go Here */

 body,.ui-page
 {
 	background: #FFFFFF;
 }
 .ui-page {
   -webkit-animation-fill-mode: both;
 }

div.ui-select {
	font-size: 16px;

 }

 div {
 	background-color: #F357A1 !important;
 }