/* CSS Code for this PhoneGap App to Go Here */

.ui-page, .ui-panel-wrapper{
	background: transparent url('images/congruent_pentagon.png') repeat top left;
	-webkit-animation-fill-mode: both;
}

.ui-content, .ui-body-inherit {
    background: transparent;
}

.ui-body-inherit {
	background-clip: content-box !important;
}

div.ui-select {
	font-size: 16px;

}



::selection {
	background: #F357A1 !important;
}
::-moz-selection {
	background: #F357A1 !important;
}
::-webkit-selection {
	background: #F357A1 !important;
}

.data {
	font-size: 42px;
}

.element {
	position: relative;
	top: 25%;
	transform: translateY(-282%);
}

.center-wrapper{
	text-align: center;
}
.center-wrapper * {
	margin: 0 auto;
}