<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.drinkr.app"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>drinkr</name>

    <description>
        drinkr doesn't care that you only use it when you're drunk
    </description>

    <author href="http://ryanrapini.com" email="ryanrapini@gmail.com">
        Kelly Hutchison and Ryan Rapini
    </author>

    <preference name="phonegap-version" value="3.5.0" />

    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />

</widget>